.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150vh;
}

.App-header {
  background-color: #262626;
  overflow: visible;
  width: 150%;
  text-align: center;
  color: white;
}

.Messages-list {
  padding: 40px 0;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 2;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 15px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 30px -30px;
}

.Message-content > .username {
  display: block;
  color: black;
  font-size: 20px;
  padding-bottom: 5px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 600px;
  margin: 0;
  border-radius: 14px;
  background-color: red;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: orangered;
}

form {
  display: flex;
  width: 200%;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto 50px;
}

input {
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgb(200, 255, 0);
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 20px;
  background-color: rgb(20, 0, 255);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
}
